
/* Body ------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-image: url(./images/Stepper\ From\ background.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container ------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.container {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1120px) {
    .container{
        flex-direction: column;
        margin: 2.4rem;
    }
}




/* Header ------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.stepperTitle {
    margin-right: 10rem;
    align-self: flex-end;
}

@media only screen and (max-width: 1120px) {
    .stepperTitle{
        margin: 2.4rem 0;
        align-self: baseline;
    }
}


.stepperTitle__title {
    max-width: 42rem;
}


.stepperTitle__main {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    color:#553681;
    margin-bottom: 2rem;
    max-width: 24rem;
    line-height: 1;
}


.stepperTitle__sub {
    display: block;
    font-size: 3.4rem;
    font-weight: 500;
    color: #DA67A0;
}


/* Form ------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.stepperForm {
    background-color: #fff;
    border: solid .3rem #E3E0E2;
    border-radius: .4rem;
    box-shadow: 0px .4rem .4rem rgba(0, 0, 0, 0.25);
    padding: 2rem;
    height: 54rem;
    width: 52rem;
}

@media only screen and (max-width: 1120px) {
    .stepperForm{
        height: 100%;
        width: 100%;
    }
}



.stepperForm__section {
    margin: 2rem;
    position: relative;
}

.stepperForm__line {
    position: absolute;
    top: 4.6rem;
    left: 1.5rem;
    width: .2rem;
    background-color: #E3E0E2;
    height: 50%;
}


.stepperForm__sectionTile {
    color: #555355;
    padding: .8rem 0;
    display: flex;
    align-items: center;
}


.stepperForm__sectionTile .icon {
    display: flex;
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 1.6rem;
    color: #fff;
    background-color: #AAA8AA;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}



.active .icon, .stepperForm__sectionTile .icon-complete {
    background-color: #208AF3; 
}



.stepperForm__sectionTile .icon .fas {
    font-size: 1.4rem;
}



.stepperForm__section p, .stepperForm__sectionInputs {
    padding-left: 4.8rem;
}

.stepperForm__sectionInputs span {
    display: block;
}

.stepperForm__label {
    padding: .8rem 0;
    color: #AAA8AA;
}


.stepperForm__sectionInputs--show {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.stepperForm__sectionInputs--hide {
    visibility: hidden;
    opacity: 0;
    height: 0;
}


.stepperForm__input, .stepperForm__input:active {
    border: 0;
    border-bottom: solid .2rem #E3E0E2;
    width: 100%;
    padding: .8rem .4rem;
}



.stepperForm__input:focus {
    outline: none;
}


.stepperForm__input:focus:invalid {
    border-bottom: 3px solid red; 
}





.stepperForm__button {
    border: none;
    padding: .8rem 2rem;
    margin: 3.2rem 0;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}

.continue-btn, .submit-btn {
    background-color: #208AF3;
    color: #ffffff; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.back-btn {
    text-decoration: none;
    background-color: unset;
    color: #555355;
}



/* Class added by JS -----------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/


.validation-passed {
    background-color: #208AF3 !important;
    color: #ffffff; 
}

.validation-error {
    border-bottom: 3px solid red; 
}