
/* Body ------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    background-image: url(./images/Stepper\ From\ background.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

/* Container ------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.container{
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
}



/* Header ------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.stepperTitle{
    margin: 0 4.2rem;
}


.stepperTitle__title{
    max-width: 42rem;
}


.stepperTitle__main{
    display: block;
    font-size: 6rem;
    font-weight: 600;
    color:#553681;
    margin-bottom: 2rem;
    max-width: 24rem;
    line-height: 1;
}


.stepperTitle__sub{
    display: block;
    font-size: 3.4rem;
    font-weight: 500;
    color: #DA67A0;
}


/* Form ------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/


.label-error{
    color: red;
}

.label-pass{
    color: green;
    /* border-bottom: 1px green; */
}


.input-error{
    border: 1px solid red;
}

.input-pass{
    border: 1px solid green;
}



.active .stepperForm__sectionInputs{
    display: inline;    
}

.inactive .stepperForm__sectionInputs{
    display: none;
}